*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* regole generali */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #011627;
    
}

/* SEZIONE HEADER */

header {
    width: 100%;
    text-align: center;
    background-color: #f8f8f8;
    padding: 20px 0;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
}

/* INIZIO SEZIONE MAIN  */

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-bottom: 20px;
   
    
}

.playButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* regole generali select difficoltà */
.difficulty{
    margin-left: 5px;
    padding: 10px 20px;
    font-size: 16px;
    
}

/* regole container griglia */

#grid-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
   
}

/* classe hidden per la visualizzazione della griglia dopo il click sul bottone */
.hidden {
    display: none;
}

/* regole celle  */

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* debug */
    border: 2px solid #fff;
    background-color: #011627;
    cursor: pointer;
}

.grid-container[data-difficulty="1"], .cell {
    /* Stili per la difficoltà 1 */
    width: calc(100% / 10);
    width: 70px;
    height: 50px;
}

.grid-container[data-difficulty="2"] .cell {
    /* Stili per la difficoltà 2 */
    width: calc(100% / 9) -20px;
    width: 70px;
    height: 50px;
}

.grid-container[data-difficulty="3"] .cell {
    /* Stili per la difficoltà 3 */
    width: calc(100% / 7);
    width: 70px;
    height: 50px;
}
/*  style delle celle al momento del'event click */
.cell.clicked {
    background-color: #7FFFD4;
}